<header>
    <h1 style="color: rgb(239, 252, 32); font-style: italic; font-family: cursive;">
        <%= pageTitle %>
    </h1>
    <section id="nav" style="font-family: cursive;">
        <div class="shundor">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/movielist">Movielist</a>
                    <ul>
                        <li><a href="/searchtags">Tags</a></li>
                        <li><a href="/genre">Genre</a></li>
                        <li><a href="/studio">Studio</a></li>

                    </ul>
                </li>
                <li><a href="/reviews"> Reviews </a> </li>
                <li><a href="/user/" + <%=username%> >Profile</a></li>
                <span style="float: right;">
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/logout">Logout</a></li>
                </span>
            </ul>
        </div>
    </section>

    <section id="search" style=" color: black; background-color: white; width: 55px;">
        <div class = "search-bar">
            <form action="/searchtags" method="post">
                <button type="submit" style="font-style: italic; font-family: cursive; background-color: white; color: black;"> Search </button>
            </form>
        </div>
    </section>

    <!--<section id="search" style=" color: black; background-color: white; width: 55px;">
        <div class = "search-bar">
            <form action="/searchtags" method="post">
                <button type="submit" style="font-style: italic; font-family: cursive; background-color: white; color: black;"> Search </button>
            </form>
        </div>
    </section>-->

    <!--<section id="search">
        &lt;!&ndash; !SEARCH &ndash;&gt;
        <form class="search-bar" action="/searchtags" method="post">
            <input class="search-bar" type="text" placeholder="Search for anything" name="search">
            <button type="submit">Search</button>
        </form>
    </section>-->


</header>