<!DOCTYPE html>
<html>

<head>
    <title>Tv Shows</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>

<body>
<div class="main-content">
    <%- include('../partials/header.ejs') %>
    <h3 style="color: yellow; font-family: cursive;">Tv Series: </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Tv Shows</li>
        </ol>
    </nav>


    <% if(!tvsList || tvsList.length === 0) { %>
        <p style="color: white">No result found</p>
    <% }
    else { %>
        <% for (var i = 0; i < tvsList.length; i++){ %>
            <ul style="color: white; font-size: xx-large; font-style: italic; font-family: cursive">
                <%= tvsList[i].Id + ". " + tvsList[i].Title %>
            </ul>
        <% } %>
    <% } %>
</div>
<%- include('../partials/footer.ejs') %>
</body>

</html>