<!DOCTYPE html>
<html lang="en">

<head>
    <title>Search by tags</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<div class="dropdown">
    <form class="dropdown" action="/searchresults",method="post">
        <select class="selectpicker" data-style="btn-info" name="selectpicker">
            <optgroup label="Select Table">
                <option name="title">title</option>
                <option name="genre">genre</option>
            </optgroup>
            <input type="submit"/>
        </select>
    </form>

</div>
<<div class="search-by-tags">
    <section id="search">
        <!-- !SEARCH -->
        <form class="search-bar" action="/searchresults" method="post">
            <input class="search-bar" type="text" placeholder="Search for anything" name="search">
            <button type="submit">Search</button>
        </form>
    </section>
</div>
<%- include('../partials/footer.ejs') %>

</body>

</html>