<!DOCTYPE html>
<html>

<head>
    <title>My Movie List</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
<div class="main-content">
    <%- include('../partials/header.ejs') %>
    <h3 style="color:rgb(26, 20, 114);">Movie</h3>
    <p><%=movie.Title%></p>
</div>
    </body>
</html>

