<!DOCTYPE html>
<html>

<head>
    <title>My Movie List</title>
    <link rel="icon" href="/img/icons/mal-logo-head.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        <%- include('../partials/header.ejs') %>
            <h3 style="color:rgb(26, 20, 114);">Animes</h3>
            <ul>
                <%- include('../partials/listedAnimes.ejs') %>
            </ul>
            <h3 style="color:rgb(26, 20, 114);">Characters</h3>
            <ul>
                <%- include('../partials/listedCharacters.ejs') %>
            </ul>
            <h3 style="color:rgb(26, 20, 114);">Voice actors</h3>
            <ul>

            </ul>
            <h3 style="color:rgb(26, 20, 114);">Writers</h3>
            <ul>

            </ul>

    </div>
    <%- include('../partials/footer.ejs') %>
</body>

</html>